{% block footer%}
{% load static %}
<footer class="u-clearfix u-footer u-palette-3-base u-footer" id="sec-e345"><div class="u-clearfix u-expanded-width-lg u-expanded-width-sm u-expanded-width-xl u-layout-wrap u-layout-wrap-1">
    <div class="u-layout">
      <div class="u-layout-col">
        <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-1">
          <div class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-1">
            <div class="u-align-center u-expanded-width u-layout-grid u-list u-list-1">
    <div class="u-repeater u-repeater-1">
                <div class="u-container-align-center u-container-style u-list-item u-repeater-item">
                  <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-2"><span class="u-align-center u-custom-item u-file-icon u-icon u-text-white u-icon-1" data-href="mailto:dahlia.dry@alum.mit.edu" data-target="_blank"><img src="{% static 'assets/here/1.png' %}" alt=""></span>
        </div>
      </div>
                <div class="u-container-align-center u-container-style u-list-item u-repeater-item">
                  <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-3"><span class="u-align-center u-custom-item u-file-icon u-icon u-text-white u-icon-2" data-href="https://www.facebook.com/dahlia.dry.37/" data-target="_blank"><img src="{% static 'assets/here/2.png' %}" alt=""></span>
        </div>
      </div>
                <div class="u-container-align-center u-container-style u-list-item u-repeater-item">
                  <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-4"><span class="u-align-center u-custom-item u-file-icon u-icon u-text-white u-icon-3" data-href="https://www.instagram.com/dahlia_dry/" data-target="_blank"><img src="{% static 'assets/here/1384031-1bfc850a.png' %}" alt=""></span>
        </div>
      </div>
                <div class="u-container-align-center u-container-style u-list-item u-repeater-item">
                  <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-5"><span class="u-align-center u-custom-item u-file-icon u-icon u-text-white u-icon-4" data-href="https://www.linkedin.com/in/dahlia-dry" data-target="_blank"><img src="{% static 'assets/here/1384088-d51c1a90.png' %}" alt=""></span>
        </div>
      </div>
                <div class="u-container-align-center u-container-style u-list-item u-repeater-item">
                  <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-6"><span class="u-align-center u-custom-item u-file-icon u-icon u-text-white u-icon-5" data-href="https://github.com/Dahlia-Dry" data-target="_blank"><img src="{% static 'assets/here/1051377-aec8912a.png' %}" alt=""></span>
        </div>
      </div>
                <div class="u-container-align-center u-container-style u-list-item u-repeater-item">
                  <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-7"><span class="u-align-center u-custom-item u-file-icon u-icon u-text-white u-icon-6" data-href="https://github.com/Dahlia-Dry/personal-website" data-target="_blank"><img src="{% static 'assets/here/2106713-2c2651a0.png' %}" alt=""></span>
                  </div>
        </div>
      </div>
    </div>
          </div>
        </div>
        <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-2">
          <div class="u-container-layout u-valign-middle u-container-layout-8">
            <p class="u-text u-text-white u-text-1">
              <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-white u-btn-1" href="https://github.com/Dahlia-Dry/personal-website" target="_blank">baked from scratch with python :)</a>
            </p>
          </div>
        </div>
        
      </div>
    </div>
  </div></footer>
  {% endblock footer %}