<section class="u-clearfix u-palette-2-base u-section-13" id="sec-d7a3">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-border-6 u-border-palette-3-base u-container-align-center u-container-style u-expanded-width u-group u-hover-feature u-radius-42 u-shape-rectangle u-group-1" data-href="{{link}}" data-target="_blank">
        <div class="u-container-layout u-valign-top u-container-layout-1">
          <div class="fr-view u-align-center u-clearfix u-rich-text u-text u-text-1" style="text-align:left;line-height: 2.0;">
            <h4>
                <span class="u-text-palette-4-base" style="font-weight: 700;">{{headline}}</span>
            </h4>
            <span class="u-text-white">{{text|safe}}</span>
          </div>
        </div>
      </div>
    </div>
</section>