{% load static %}
<section class="u-align-left u-clearfix u-container-align-center u-section-2">
  <div class="u-clearfix u-sheet u-sheet-1">
<div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
    <div class="u-layout">
      <div class="u-layout-row">
        <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
          <div class="u-container-layout u-container-layout-1" style="margin-top: 0px; margin-bottom: 0px">
            {{text|safe}}
          </div>
        </div>
        <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
          <div class="u-container-layout u-valign-top u-container-layout-2">
            <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-no-transition u-show-text-on-hover u-gallery-1">
              <div class="u-gallery-inner u-gallery-inner-1">
                <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
                  <div class="u-back-slide" data-image-width="1280" data-image-height="853">
                    <img class="u-back-image u-expanded u-image-contain" src="{{photo.url}}">
                  </div>
                  <div class="u-over-slide u-shading u-over-slide-1">
                    <h3 class="u-gallery-heading">{{photo.title}}</h3>
                    <p class="u-gallery-text">{{photo.caption}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>