<section class="text-img-nocaption u-align-left u-clearfix u-container-align-center u-section-3" id="sec-b3aa">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1" style="margin-top: 0px; margin-bottom: 0px; padding: 0px">
                    {{text|safe}}
                  </div>
            </div>
            <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
              <div class="u-container-layout u-valign-top u-container-layout-2">
                <div class="u-carousel u-expanded-width u-gallery u-gallery-slider u-layout-carousel u-lightbox u-no-transition u-show-text-on-hover u-gallery-1" data-interval="5000" data-u-ride="carousel" id="carousel-7b90">
                    <div class="u-carousel-inner u-gallery-inner" role="listbox">
                      <div class="u-active u-carousel-item u-effect-fade u-gallery-item u-carousel-item-1"">
                        <div class="u-back-slide">
                          <img class="u-back-image u-expanded" src="{{gallery.0.image.url}}">
                        </div>
                      </div>
                      {% for photo in gallery %}
                      {% if not forloop.first %}
                      <div class="u-carousel-item u-effect-fade u-gallery-item u-carousel-item-2">
                        <div class="u-back-slide">
                          <img class="u-back-image u-expanded" src="{{photo.image.url}}" >
                        </div>
                        <div class="u-align-center u-container-align-left u-over-slide u-shading u-valign-middle u-over-slide-2">
                        </div>
                      </div>
                      {% endif %}
                      {% endfor %}
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>