{% load static %}
<!DOCTYPE html>
<html style="font-size: 24px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Hi, my name is Dahlia.">
    <meta name="description" content="">
    <title>here</title>
    <link rel="stylesheet" href="{% static '/css/building_blocks/nicepage.css' %}" media="screen">
<link rel="stylesheet" href="{% static '/css/pages/here.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static '/js/jquery.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static '/js/nicepage.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static '/js/here.js' %}" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i">
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
}</script>
    <meta name="theme-color" content="#73a3de">
    <meta property="og:title" content="here">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body u-stick-footer u-xl-mode" data-lang="en"><header class="u-align-center-xs u-border-1 u-border-grey-25 u-clearfix u-header u-palette-3-base u-sticky u-sticky-02bc u-header" id="sec-cdb2"><div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <div class="u-align-center u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-15-lg u-size-15-md u-size-15-sm u-size-15-xs u-size-16-xl u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <form action="#" method="get" class="u-align-center u-border-1 u-border-grey-15 u-search u-search-right u-search-1">
          <button class="u-search-button" type="submit">
                      <span class="u-search-icon u-spacing-10 u-text-grey-40 u-search-icon-1">
              <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 56.966 56.966" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-b04b"></use></svg>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-b04b" x="0px" y="0px" viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve" class="u-svg-content"><path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"></path><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
            </span>
          </button>
                    <input class="u-search-input u-search-input-1" type="search" name="search" value="" placeholder="Search">
        </form>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-29 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <p class="u-align-center u-text u-text-white u-text-1"id="header-content">dahlia.is/here</p>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-15 u-layout-cell-3">
                <div class="u-container-layout u-container-layout-3">
                  <nav class="u-align-center u-font-size-14 u-menu u-menu-hamburger u-nav-spacing-25 u-offcanvas u-menu-1" data-responsive-from="XL">
          <div class="menu-collapse">
            <a class="u-button-style u-custom-text-color u-nav-link u-text-white" href="#" style="font-size: calc(1em + 18px); padding: 9px 8px;">
              <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-7b92"></use></svg>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-7b92" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;" xml:space="preserve" class="u-svg-content"><g><rect y="36" width="302" height="30"></rect><rect y="236" width="302" height="30"></rect><rect y="136" width="302" height="30"></rect>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-spacing-20 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base u-text-white" href="http://www.dahlia.is/here" style="padding: 10px;">home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base u-text-white" href="http://www.dahlia.is/currently" style="padding: 10px;">current work</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base u-text-white" href="http://www.dahlia.is/at-work" style="padding: 10px;">resumé/skills</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base u-text-white" href="http://www.dahlia.is/busy" style="padding: 10px;">project portfolio</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base u-text-white" href="http://www.dahlia.is/lost-in-space" style="padding: 10px;">astrophotography</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base u-text-white" href="http://www.dahlia.is/thinking" style="padding: 10px;">misc thoughts</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base u-text-white" href="http://www.dahlia.is/taking-notes" style="padding: 10px;">obsidian notes</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base u-text-white" href="http://www.dahlia.is/outside" style="padding: 10px;">adventures</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base u-text-white" href="http://wwww.dahlia.is/in-new-places" style="padding: 10px;">travels</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-align-center u-container-style u-grey-75 u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-spacing-44 u-text-active-palette-3-base u-text-hover-palette-4-base u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="http://www.dahlia.is/here">home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="http://www.dahlia.is/currently">current work</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="http://www.dahlia.is/at-work">resumé/skills</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="http://www.dahlia.is/busy">project portfolio</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="http://www.dahlia.is/lost-in-space">astrophotography</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="http://www.dahlia.is/thinking">misc thoughts</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="http://www.dahlia.is/taking-notes">obsidian notes</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="http://www.dahlia.is/outside">adventures</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="http://www.dahlia.is/in-new-places">travels</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div></header>
    <section class="u-clearfix u-section-1" id="sec-5f8e">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-default u-text-1">Hi, my name is Dahlia.</h1>
        <h4 class="u-text u-text-default u-text-2">Welcome to my little corner of the internet :)</h4>
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-28 u-layout-cell-1">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                  <p class="u-text u-text-3">I'm a senior at MIT double majoring in physics and electrical engineering with a minor in Spanish. Things I love include my aggressively blue foldy bike, running in the rain, spending long nights at telescopes, and collecting cozy sweaters. I'm working to leverage my technical skillset in the fight to protect water as a human right and preserve earth's waterways as a global commons for generations to come. My plan is to go wherever that takes me, and make sure to have plenty of fun along the way.&nbsp;</p>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-32 u-layout-cell-2">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                  <img class="u-image u-image-1" src="{% static 'media/IMG_1237.JPG' %}" data-image-width="3023" data-image-height="3186">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-palette-2-base u-section-2" id="sec-9e55">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-56 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-col">
              <div class="u-size-20">
                <div class="u-layout-row">
                  <div class="u-container-style u-image u-layout-cell u-size-20 u-image-1" id="tile1" data-image-width="3024" data-image-height="3024" data-href="../currently">
                    <div class="u-container-layout u-valign-middle u-container-layout-1"><span class="u-file-icon u-icon u-icon-rectangle u-text-palette-4-base u-icon-1" id = "arrow1"><img src="{% static 'media/724954-087d0e5b.png' %}"></span>
                    </div>
                  </div>
                  <div class="u-container-style u-hover-feature u-image u-layout-cell u-size-20 u-image-2" id="tile2" data-image-width="3024" data-image-height="3024" data-href="../taking-notes">
                    <div class="u-container-layout u-valign-middle u-container-layout-2"><span class="u-file-icon u-icon u-icon-rectangle u-text-palette-4-base u-icon-1" id = "arrow2"><img src="{% static 'media/724954-087d0e5b.png' %}"></span>
                  </div>
                  </div>
                  <div class="u-container-style u-image u-layout-cell u-size-20 u-image-3" id="tile3" data-image-width="3995" data-image-height="3995" data-href="../in-new-places">
                    <div class="u-container-layout u-valign-middle u-container-layout-3"><span class="u-file-icon u-icon u-icon-rectangle u-text-palette-4-base u-icon-1" id = "arrow3"><img src="{% static 'media/724954-087d0e5b.png' %}"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-20">
                <div class="u-layout-row">
                  <div class="u-container-style u-image u-layout-cell u-size-20 u-image-4" id="tile4" data-image-width="1440" data-image-height="1440" data-href="../thinking">
                    <div class="u-container-layout u-valign-middle u-container-layout-4"><span class="u-file-icon u-icon u-icon-rectangle u-text-palette-4-base u-icon-1" id = "arrow4"><img src="{% static 'media/724954-087d0e5b.png' %}"></span>
                  </div>
                  </div>
                  <div class="u-container-style u-image u-layout-cell u-size-20 u-image-5" id="tile5" >
                  </div>
                  <div class="u-container-style u-image u-layout-cell u-size-20 u-image-6" id="tile6" data-image-width="950" data-image-height="950" data-href="../lost-in-space">
                    <div class="u-container-layout u-valign-middle u-container-layout-6"><span class="u-file-icon u-icon u-icon-rectangle u-text-palette-4-base u-icon-1" id = "arrow6"><img src="{% static 'media/724954-087d0e5b.png' %}"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-20">
                <div class="u-layout-row">
                  <div class="u-container-style u-image u-layout-cell u-size-20 u-image-7" id="tile7" data-image-width="1440" data-image-height="1440" data-href="../outside">
                    <div class="u-container-layout u-valign-middle u-container-layout-7"><span class="u-file-icon u-icon u-icon-rectangle u-text-palette-4-base u-icon-1" id = "arrow7"><img src="{% static 'media/724954-087d0e5b.png' %}"></span>
                    </div>
                  </div>
                  <div class="u-container-style u-image u-layout-cell u-size-20 u-image-8" id="tile8" data-image-width="1121" data-image-height="1121" data-href="../busy">
                    <div class="u-container-layout u-valign-middle u-container-layout-8"><span class="u-file-icon u-icon u-icon-rectangle u-text-palette-4-base u-icon-1" id = "arrow8"><img src="{% static 'media/724954-087d0e5b.png' %}"></span>
                    </div>
                  </div>
                  <div class="u-container-style u-image u-layout-cell u-size-20 u-image-9" id="tile9" data-image-width="1120" data-image-height="1120" data-href="../at-work">
                    <div class="u-container-layout u-valign-middle u-container-layout-9"><span class="u-file-icon u-icon u-icon-rectangle u-text-palette-4-base u-icon-1" id = "arrow9"><img src="{% static 'media/724954-087d0e5b.png' %}"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </section>
    
    
    <footer class="u-clearfix u-footer u-palette-3-base u-footer" id="sec-e345"><div class="u-clearfix u-expanded-width-lg u-expanded-width-sm u-expanded-width-xl u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-col">
            <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-1">
              <div class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-1">
                <div class="u-align-center u-expanded-width u-layout-grid u-list u-list-1">
        <div class="u-repeater u-repeater-1">
                    <div class="u-container-align-center u-container-style u-list-item u-repeater-item">
                      <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-2"><span class="u-align-center u-custom-item u-file-icon u-icon u-text-white u-icon-1" data-href="mailto:dahlia.dry24@gmail.com"><img src="{% static 'media/1.png' %}" alt=""></span>
            </div>
          </div>
                    <div class="u-container-align-center u-container-style u-list-item u-repeater-item">
                      <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-3"><span class="u-align-center u-custom-item u-file-icon u-icon u-text-white u-icon-2" data-href="https://www.facebook.com/dahlia.dry.37/"><img src="{% static 'media/2.png' %}" alt=""></span>
            </div>
          </div>
                    <div class="u-container-align-center u-container-style u-list-item u-repeater-item">
                      <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-4"><span class="u-align-center u-custom-item u-file-icon u-icon u-text-white u-icon-3" data-href="https://www.instagram.com/dahlia_dry/"><img src="{% static 'media/1384031-1bfc850a.png' %}" alt=""></span>
            </div>
          </div>
                    <div class="u-container-align-center u-container-style u-list-item u-repeater-item">
                      <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-5"><span class="u-align-center u-custom-item u-file-icon u-icon u-text-white u-icon-4" data-href="www.linkedin.com/in/dahlia-dry"><img src="{% static 'media/1384088-d51c1a90.png' %}" alt=""></span>
            </div>
          </div>
                    <div class="u-container-align-center u-container-style u-list-item u-repeater-item">
                      <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-6"><span class="u-align-center u-custom-item u-file-icon u-icon u-text-white u-icon-5" data-href="https://open.spotify.com/user/dahlia_dry"><img src="{% static 'media/87409-07cc909f.png' %}" alt=""></span>
            </div>
          </div>
                    <div class="u-container-align-center u-container-style u-list-item u-repeater-item">
                      <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-7"><span class="u-align-center u-custom-item u-file-icon u-icon u-text-white u-icon-6" data-href="https://github.com/Dahlia-Dry"><img src="{% static 'media/1051377-aec8912a.png' %}" alt=""></span>
                      </div>
            </div>
          </div>
        </div>
              </div>
            </div>
            <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-2">
              <div class="u-container-layout u-valign-middle u-container-layout-8">
                <p class="u-text u-text-white u-text-1">
                  <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-white u-btn-1" href="https://github.com/Dahlia-Dry/personal-website">baked from scratch with python :)</a>
                </p>
              </div>
            </div>
            <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-3">
              <div class="u-container-layout u-container-layout-9"><span class="u-file-icon u-icon u-text-white u-icon-7" data-href="https://github.com/Dahlia-Dry/personal-website"><img src="{% static 'media/2106713-2c2651a0.png' %}" alt=""></span>
              </div>
            </div>
          </div>
        </div>
      </div></footer>
  
</body></html>