{% block header %}

<body class="u-body u-stick-footer u-xl-mode" data-lang="en"><header class="u-align-center-xs u-border-1 u-border-grey-25 u-clearfix u-header u-palette-3-base u-sticky u-sticky-02bc u-header" id="sec-cdb2"><div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
    <div class="u-align-center u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-container-style u-layout-cell u-size-15-lg u-size-15-md u-size-15-sm u-size-15-xs u-size-16-xl u-layout-cell-1">
            <div class="u-container-layout u-container-layout-1">
              <form action="#" method="get" class="u-align-center u-border-1 u-border-grey-15 u-search u-search-right u-search-1">
      <button class="u-search-button" type="submit">
                  <span class="u-search-icon u-spacing-10 u-text-grey-40 u-search-icon-1">
          <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 56.966 56.966" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-b04b"></use></svg>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-b04b" x="0px" y="0px" viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve" class="u-svg-content"><path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"></path><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
        </span>
      </button>
                <input class="u-search-input u-search-input-1" type="search" name="search" value="" placeholder="Search">
    </form>
            </div>
          </div>
          <div class="u-container-style u-layout-cell u-size-29 u-layout-cell-2">
            <div class="u-container-layout u-container-layout-2">
              <p class="u-align-center u-text u-text-white u-text-1">
                <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-white u-btn-1" href="https://www.dahlia.is/here">dahlia.is /</a>
                <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-white u-btn-1" href="https://www.dahlia.is/{{header_content}}">{{header_content}}</a>
              </p>
            </div>
          </div>
          <div class="u-container-style u-layout-cell u-size-15 u-layout-cell-3">
            <div class="u-container-layout u-container-layout-3">
              <nav class="u-align-center u-font-size-14 u-menu u-menu-hamburger u-nav-spacing-25 u-offcanvas u-menu-1" data-responsive-from="XL">
      <div class="menu-collapse">
        <a class="u-button-style u-custom-text-color u-nav-link u-text-white" href="#" style="font-size: calc(1em + 18px); padding: 9px 8px;">
          <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-7b92"></use></svg>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-7b92" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;" xml:space="preserve" class="u-svg-content"><g><rect y="36" width="302" height="30"></rect><rect y="236" width="302" height="30"></rect><rect y="136" width="302" height="30"></rect>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
        </a>
      </div>
      <div class="u-custom-menu u-nav-container">
        <ul class="u-nav u-spacing-20 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base u-text-white" href="http://www.dahlia.is/here" style="padding: 10px;">home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base u-text-white" href="http://www.dahlia.is/currently" style="padding: 10px;">current work</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base u-text-white" href="http://www.dahlia.is/employable" style="padding: 10px;">resumé/skills</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base u-text-white" href="http://www.dahlia.is/busy" style="padding: 10px;">project portfolio</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base u-text-white" href="http://www.dahlia.is/lost-in-space" style="padding: 10px;">astrophotography</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base u-text-white" href="http://www.dahlia.is/thinking" style="padding: 10px;">misc thoughts</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base u-text-white" href="http://www.dahlia.is/taking-notes" style="padding: 10px;">obsidian notes</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base u-text-white" href="http://www.dahlia.is/outside" style="padding: 10px;">adventures</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base u-text-white" href="http://wwww.dahlia.is/in-new-places" style="padding: 10px;">travels</a>
</li></ul>
      </div>
      <div class="u-custom-menu u-nav-container-collapse">
        <div class="u-align-center u-container-style u-grey-75 u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
          <div class="u-inner-container-layout u-sidenav-overflow">
            <div class="u-menu-close"></div>
            <ul class="u-align-center u-nav u-popupmenu-items u-spacing-44 u-text-active-palette-3-base u-text-hover-palette-4-base u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="http://www.dahlia.is/here">home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="http://www.dahlia.is/currently">current work</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="http://www.dahlia.is/employable">resumé/skills</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="http://www.dahlia.is/busy">project portfolio</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="http://www.dahlia.is/lost-in-space">astrophotography</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="http://www.dahlia.is/thinking">misc thoughts</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="http://www.dahlia.is/taking-notes">obsidian notes</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="http://www.dahlia.is/outside">adventures</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="http://www.dahlia.is/in-new-places">travels</a>
</li></ul>
          </div>
        </div>
        <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
      </div>
    </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div></header>
  {% endblock header %}