<section class="u-clearfix u-palette-2-base u-section-11">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-clearfix u-gutter-56 u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-col">
          <div class="u-size-20">
            <div class="u-layout-row">
              <div class="u-container-style u-image u-layout-cell u-size-20 u-image-1" data-image-width="3024" data-image-height="3024" data-href="www.dahlia.is/currently">
                <div class="u-container-layout u-valign-middle u-container-layout-1"><span class="u-file-icon u-icon u-icon-rectangle u-text-palette-4-base u-icon-1"><img src="/3abed5ae6e8d/724954-087d0e5b.png" alt=""></span>
                </div>
              </div>
              <div class="u-container-style u-hover-feature u-image u-layout-cell u-size-20 u-image-2" data-image-width="626" data-image-height="417" data-href="www.dahlia.is/an-enjoyer-of-pain">
                <div class="u-container-layout u-container-layout-2"></div>
              </div>
              <div class="u-container-style u-image u-layout-cell u-size-20 u-image-3" data-image-width="3995" data-image-height="3995">
                <div class="u-container-layout u-valign-middle u-container-layout-3"></div>
              </div>
            </div>
          </div>
          <div class="u-size-20">
            <div class="u-layout-row">
              <div class="u-container-style u-image u-layout-cell u-size-20 u-image-4" data-image-width="1440" data-image-height="1440">
                <div class="u-container-layout u-container-layout-4"></div>
              </div>
              <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-5">
                <div class="u-container-layout u-valign-middle-lg u-container-layout-5">
                  <div class="u-carousel u-expanded-width u-gallery u-gallery-slider u-layout-carousel u-lightbox u-no-transition u-show-text-on-hover u-gallery-1" data-interval="5000" data-u-ride="carousel" id="carousel-7b90">
                    <ol class="u-absolute-hcenter u-carousel-indicators u-hidden u-carousel-indicators-1">
                      <li data-u-target="#carousel-7b90" data-u-slide-to="0" class="u-active u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
                      <li data-u-target="#carousel-7b90" data-u-slide-to="1" class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
                    </ol>
                    <div class="u-carousel-inner u-gallery-inner" role="listbox">
                      <div class="u-active u-carousel-item u-effect-fade u-gallery-item u-carousel-item-1">
                        <div class="u-back-slide">
                          <img class="u-back-image u-expanded" src="images/default-image-16.jpg">
                        </div>
                        <div class="u-align-center u-container-align-left u-over-slide u-shading u-valign-middle u-over-slide-1">
                          <h3 class="u-align-left u-gallery-heading" style="width: 203px; margin-right: auto; margin-left: 0px;">Sample Title</h3>
                          <p class="u-align-left u-gallery-text" style="width: 203px; margin-right: auto; margin-left: 0px;">Sample Text</p>
                        </div>
                      </div>
                      <div class="u-carousel-item u-effect-fade u-gallery-item u-carousel-item-2">
                        <div class="u-back-slide">
                          <img class="u-back-image u-expanded" src="images/default-image-16.jpg">
                        </div>
                        <div class="u-align-center u-container-align-left u-over-slide u-shading u-valign-middle u-over-slide-2">
                          <h3 class="u-align-left u-gallery-heading" style="width: 203px; margin-right: auto; margin-left: 0px;">Sample Title</h3>
                          <p class="u-align-left u-gallery-text" style="width: 203px; margin-right: auto; margin-left: 0px;">Sample Text</p>
                        </div>
                      </div>
                    </div>
                    <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-1" href="#carousel-7b90" role="button" data-u-slide="prev">
                      <span aria-hidden="true">
                        <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
                      </span>
                      <span class="sr-only">
                        <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
                      </span>
                    </a>
                    <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-2" href="#carousel-7b90" role="button" data-u-slide="next">
                      <span aria-hidden="true">
                        <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
                      </span>
                      <span class="sr-only">
                        <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="u-container-style u-image u-layout-cell u-size-20 u-image-5" data-image-width="950" data-image-height="950">
                <div class="u-container-layout u-container-layout-6"></div>
              </div>
            </div>
          </div>
          <div class="u-size-20">
            <div class="u-layout-row">
              <div class="u-container-style u-image u-layout-cell u-size-20 u-image-6" data-image-width="1440" data-image-height="1440">
                <div class="u-container-layout u-valign-bottom u-container-layout-7"></div>
              </div>
              <div class="u-container-style u-image u-layout-cell u-size-20 u-image-7" data-image-width="1121" data-image-height="1121">
                <div class="u-container-layout u-container-layout-8"></div>
              </div>
              <div class="u-container-style u-image u-layout-cell u-size-20 u-image-8" data-image-width="1120" data-image-height="1120">
                <div class="u-container-layout u-container-layout-9"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</section>