{% load static %}
<!DOCTYPE html>
<html style="font-size: 24px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Astrophotography">
    <meta name="description" content="">
    <title>current work</title>
    <link rel="stylesheet" href="{% static 'css/building_blocks/nicepage.css' %}" media="screen">
    <link rel="stylesheet" href="{% static '/css/pages/mos2.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static '/js/jquery.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static '/js/nicepage.js' %}" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i">
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
}</script>
    <meta name="theme-color" content="#73a3de">
    <meta property="og:title" content="current Research">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body u-xl-mode" data-lang="en">
    {% block header %} {% include 'building_blocks/header.html' %} {% endblock header %}
    <section class="u-clearfix u-section-1" id="sec-87cf">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="fr-view u-clearfix u-rich-text u-text u-text-1">
          <h3 style="text-align: left; line-height: 1.2;">
            <span style="font-size: 1.5rem; font-weight: 700;">Thin Film Molybdenum Disulfide Transistors</span>
          </h3>
          <p>In Fall 2022, I took a class called 6.2540 (Nanotechnology: From Atoms to Systems). After a semester spent doing a bunch of <a class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-4-base u-btn-1" href="https://dahlia.is/researching/at-mit-nano">super cool labs</a>, my group chose to do a final project that involved fabricating thin film molybdenum disulfide (MOS2) transistors for applications in flexible electronics and sensing. We went on to present our work at MIT's Microsystems Annual Research Conference (MARC) in January 2023. On this page you'll find our conference poster and some other photos and figures from the project.&nbsp;
          </p>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-palette-2-base u-section-2" id="sec-c382">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-no-transition u-show-text-none u-gallery-1">
          <div class="u-gallery-inner u-gallery-inner-1">
            <div class="u-effect-hover-zoom u-gallery-item">
              <div class="u-back-slide" data-image-width="2880" data-image-height="1624">
                <img class="u-back-image u-expanded u-image-contain" src="{% static '/media/mos2/mos2-1.png' %}">
              </div>
              <div class="u-over-slide u-shading u-over-slide-1">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-hover-zoom u-gallery-item">
              <div class="u-back-slide" data-image-width="2878" data-image-height="1624">
                <img class="u-back-image u-expanded u-image-contain" src="{% static '/media/mos2/mos2-2.png' %}">
              </div>
              <div class="u-over-slide u-shading u-over-slide-2">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-hover-zoom u-gallery-item">
              <div class="u-back-slide" data-image-width="2878" data-image-height="1622">
                <img class="u-back-image u-expanded u-image-contain" src="{% static '/media/mos2/mos2-3.png' %}">
              </div>
              <div class="u-over-slide u-shading u-over-slide-3">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-hover-zoom u-gallery-item">
              <div class="u-back-slide" data-image-width="2880" data-image-height="1624">
                <img class="u-back-image u-expanded u-image-contain" src="{% static '/media/mos2/mos2-4.png' %}">
              </div>
              <div class="u-over-slide u-shading u-over-slide-4">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <p align="center"><iframe src="{% static 'media/mos2/mos2.pdf' %}" width="90%" height="1100px"></iframe></p>
    {% block footer %} {% include 'building_blocks/footer.html' %} {% endblock footer %}
  
</body></html>