{% load static %}
<!DOCTYPE html>
<html style="font-size: 24px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Astrophotography">
    <meta name="description" content="">
    <title>current work</title>
    <link rel="stylesheet" href="{% static 'css/building_blocks/nicepage.css' %}" media="screen">
    <link rel="stylesheet" href="{% static '/css/pages/rle.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static '/js/jquery.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static '/js/nicepage.js' %}" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i">
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
}</script>
    <meta name="theme-color" content="#73a3de">
    <meta property="og:title" content="current Research">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body u-xl-mode" data-lang="en">
    {% block header %} {% include 'building_blocks/header.html' %} {% endblock header %}
    <section class="u-clearfix u-section-1" id="sec-284b">
        <div class="u-clearfix u-sheet u-sheet-1">
          <h2 class="u-text u-text-default u-text-1">
            <span style="font-style: italic;">Current Research:</span> Swept Source Raman Spectroscopy for Persistent Monitoring of Water Quality&nbsp; 
          </h2>
        <p class="u-text u-text-default u-text-2">Since Fall 2021, I have been working as an undergraduate research assistant in the Research Lab of Electronics (RLE) on a project that involves the use of a novel implementation of raman spectroscopy for monitoring of a variety of water-based analytes. My main contribution to the project is a <a href="https://github.com/Dahlia-Dry/RLE-Sweptsource-Raman" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-4-base u-btn-1" target="_blank">Dash-based control software</a> which can be used to program and execute a variety of measurements by coordinating between our disparate hardware components to form one unified system. This software also features an analysis module which allows us to quickly and conveniently analyze our collected spectra.&nbsp;
        </p>
        <a href="https://vast-everglades-52631.herokuapp.com/" class="u-align-center u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-6 u-btn-2" target="_blank">Click here to launch live demo software</a>
          <div class="u-expanded-width u-list u-list-1">
            <div class="u-repeater u-repeater-1">
              <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-bottom-lg u-valign-bottom-xl u-container-layout-1">
                <div class="u-align-left u-expanded-width u-left-0 u-uploaded-video u-video u-video-contain u-video-1">
                    <div class="embed-responsive">
                      <video class="embed-responsive-item" controls="">
                        <source src="{% static 'media/rle/collection-demo.mp4' %}" type="video/mp4">
                        <p>Your browser does not support HTML5 video.</p>
                      </video>
                      <button class="u-video-poster"></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-bottom-lg u-valign-bottom-xl u-container-layout-2">
                <div class="u-align-left u-expanded-width u-left-0 u-uploaded-video u-video u-video-contain u-video-2">
                    <div class="embed-responsive">
                      <video class="embed-responsive-item" controls="">
                        <source src="{% static 'media/rle/analysis-demo.mp4' %}" type="video/mp4">
                        <p>Your browser does not support HTML5 video.</p>
                      </video>
                      <button class="u-video-poster"></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
    {% block footer %} {% include 'building_blocks/footer.html' %} {% endblock footer %}
  
</body></html>